.footer{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 100px;
    background: #808080;
    flex-direction: row;
    width: 100%;
    padding: 50px 0px;
}

.footer h1, h2, p{
    font-family: sans-serif
}