
.erro{
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.erro h1{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.btnHome{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 16px;
    border-radius: 10px;
    transition: 0.5s;
}

.btnHome:hover{
    background-color: #fff;
    transform: scale(1.05);
    color: #000;
}

a{
    text-decoration: none;
}